body {
  background-color: rgb(0, 0, 0);
}
body a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  margin: 15px 0 0 0;
}
header figcaption {
  visibility: Hidden;
  color: white;
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

ul li a {
  text-decoration: none;
}

.btn1 {
  display: flex;
  padding-right: 0px;
  align-items: center;
  gap: 16px;
}
.btn1 a {
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn2 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.btn-bg1 {
  display: flex;
  padding: 11px 28px;
  align-items: flex-start;
  border-radius: 10px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn-bg2 {
  display: flex;
  padding: 3px 28px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  background: #097FD9;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 222.222% */
}

.zero {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 200px 0 200px;
}
.zero .sectionOne {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
}
.zero .sectionOne article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}
.zero .sectionOne article h1 {
  color: #FFF;
  font-family: Urbanist;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0%;
}
.zero .sectionOne article p {
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.zero .buttonContainerOne {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
.zero .buttonContainerOne .buttonRight1 {
  display: flex;
  padding: 3px 28px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  background: #097FD9;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 222.222% */
}
.zero .buttonContainerOne .buttonRight2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: black;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.zero .Middle aside {
  position: absolute;
  height: 170px;
  transform: rotate(-90deg);
  align-items: flex-start;
  gap: 10px;
  margin: 160px 0px 0 -220px;
}
.zero .Middle aside h3 {
  color: rgba(255, 255, 255, 0.11);
  font-family: Urbanist;
  font-size: 142px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 150px 0px 0 0;
}
.zero .Middle figure {
  display: flex;
  position: relative;
}
.zero .Middle figure figcaption {
  width: 0px;
}
.zero .ontheright {
  margin-bottom: 650px;
}
.zero .ontheright figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.zero .ontheright h5 {
  color: #FFF;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

.sectionTwo {
  display: flex;
  flex-direction: column;
}
.sectionTwo .textandbutton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 250px 0 250px;
  flex-wrap: wrap;
}
.sectionTwo .textandbutton article {
  position: absolute;
}
.sectionTwo .textandbutton article h1 {
  color: #FFF;
  font-family: Urbanist;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sectionTwo .textandbutton aside {
  position: relative;
  bottom: 40px;
  right: 150px;
}
.sectionTwo .textandbutton aside h3 {
  color: rgba(255, 255, 255, 0.11);
  font-family: Urbanist;
  font-size: 142px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.sectionTwo .textandbutton .arrow {
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sectionTwo .textandbutton .arrow.left {
  margin-right: 30px;
  border: none;
  background-color: black;
}
.sectionTwo .textandbutton .arrow.right {
  margin-right: 70px;
  border: none;
}
.sectionTwo .sectionSlider .slider-container {
  overflow: hidden;
}
.sectionTwo .sectionSlider .slider-container .slider {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 26px;
  transition: transform 0.5s ease-in-out;
}
.sectionTwo .sectionSlider .slider-container .card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 320px;
  padding: 40px 24px;
  color: white;
  margin: 0;
  border-radius: 12px;
  background: #0D0D0D;
  transition: background-color 0.5s ease-in-out;
  flex-shrink: 0;
}
.sectionTwo .sectionSlider .slider-container .card h4 {
  color: #FFF;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 100% */
  margin: 20px 0 20px 0;
}
.sectionTwo .sectionSlider .slider-container .card h5 {
  margin: 10px 0 10px 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.sectionTwo .sectionSlider .slider-container .card:hover {
  background: #097FD9;
}

.sectionThree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 250px 0 250px;
  padding: 120px 0px;
}
.sectionThree .sectionThreeRight {
  display: flex;
  width: 500px;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
}
.sectionThree .sectionThreeRight h1 {
  align-self: stretch;
  color: #FFF;
  font-family: Urbanist;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}
.sectionThree .sectionThreeRight ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 0px;
}
.sectionThree .sectionThreeRight ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.sectionThree .sectionThreeRight ul li p {
  color: #E1E1E1;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.sectionThree .sectionThreeRight .buttonContainerThree {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}
.sectionThree .sectionThreeRight .buttonContainerThree .buttonTwo1 {
  display: flex;
  padding: 3px 28px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  background: #097FD9;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 222.222% */
}
.sectionThree .sectionThreeRight .buttonContainerThree .buttonTwo2 {
  display: flex;
  padding: 3px 28px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: black;
  border-radius: 10px;
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 222.222% */
}

.joinus {
  display: flex;
  margin: 0 250px 0 250px;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 16px;
  background: #0D0D0D;
  gap: 50px;
}
.joinus h3 {
  color: #FFF;
  font-family: Urbanist;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
  max-width: 850px;
  margin: 0px;
}
.joinus a {
  display: flex;
  padding: 3px 28px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 10px;
  background: #097FD9;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 222.222% */
}

.listpackages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 100px 0 100px 0;
}
.listpackages .switchButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.listpackages .switchButton article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}
.listpackages .switchButton article h3 {
  color: #097FD9;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
}
.listpackages .switchButton article h1 {
  color: #FFF;
  text-align: center;
  font-family: Urbanist;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}
.listpackages .switchButton .TwoButton {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 14px;
  background: #FFF;
}
.listpackages .switchButton .TwoButton .toggle-button1 {
  background-color: rgb(255, 255, 255);
  color: rgba(9, 7, 7, 0.6);
  display: flex;
  padding: 11px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: solid white 1px;
  border-radius: 12px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.listpackages .switchButton .TwoButton .toggle-button1.active {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  padding: 11px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  color: #EEE;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.listpackages .switchButton .TwoButton .toggle-button2 {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  padding: 11px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  color: #EEE;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.listpackages .switchButton .TwoButton .toggle-button2.active {
  background-color: rgb(255, 255, 255);
  color: rgba(9, 7, 7, 0.6);
  display: flex;
  padding: 11px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: solid white 1px;
  border-radius: 12px;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.listpackages .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}
.listpackages .cards .card {
  display: flex;
  padding: 24px 28px;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  border-radius: 16px;
  background: #0D0D0D;
}
.listpackages .cards .card:hover {
  background-color: #097FD9;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.listpackages .cards .card:hover .cardText h3 {
  color: white;
}
.listpackages .cards .card:hover a {
  background-color: black;
}
.listpackages .cards .card .cardText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.listpackages .cards .card .cardText h3 {
  color: #097FD9;
  font-family: Urbanist;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 5px;
}
.listpackages .cards .card .cardText h1 {
  color: #FFF;
  font-family: Urbanist;
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 5px;
}
.listpackages .cards .card .cardText aside h5 {
  color: #878787;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 5px;
}
.listpackages .cards .card .cardText ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  list-style-type: none;
  padding: 0px;
}
.listpackages .cards .card .cardText ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.listpackages .cards .card .cardText ul li p {
  color: #E1E1E1;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0px;
}
.listpackages .cards .card a {
  display: flex;
  width: 224px;
  padding: 16px 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: #097FD9;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.member {
  display: flex;
  align-items: flex-start;
  gap: 140px;
  margin: 0 200px 0 200px;
}
.member .memberleft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 140px;
}
.member .memberleft article {
  position: absolute;
}
.member .memberleft article h1 {
  color: #FFF;
  font-family: Urbanist;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.member .memberleft aside {
  position: relative;
  bottom: 120px;
  right: 200px;
}
.member .memberleft aside h3 {
  color: rgba(255, 255, 255, 0.11);
  font-family: Urbanist;
  font-size: 142px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.member .memberbottom figure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.member .memberbottom h5 {
  color: #FFF;
  font-family: Urbanist;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.member .memberright {
  margin: 120px 0 0 50px;
}
.member .memberright .sliderM {
  position: relative;
}
.member .memberright .sliderM .slideM {
  justify-content: flex-start;
  flex-direction: column;
  width: 600px;
  align-self: stretch;
  border-radius: 12px;
  background: #0D0D0D;
  color: white;
  padding: 44px;
  gap: 10px;
  height: 300px;
}
.member .memberright .sliderM .slideM .starts {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  gap: 4px;
}
.member .memberright .sliderM .slideM p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.member .memberright .sliderM .slideM .sliderMpers {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}
.member .memberright .sliderM .slideM .sliderMpers h2 {
  color: rgba(255, 255, 255, 0.8);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 5px;
}
.member .memberright .sliderM .slideM .sliderMpers h3 {
  color: #757575;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 5px;
}
.member .memberright .arrowM {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 744px;
  margin-top: -34%;
  right: -27px;
  cursor: pointer;
  color: white;
}
.member .memberright .arrowM .leftM {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  background: #FFF;
}
.member .memberright .arrowM .rightM {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 50px;
  background: #FFF;
}
.member .memberright .dots {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 47%;
  bottom: 10px;
  height: 20px;
}
.member .memberright .dots .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  margin: 0 5px;
  cursor: pointer;
}
.member .memberright .dots .dot.active {
  background-color: yellow;
}

.subscribe {
  display: flex;
  margin: 100px 200px 100px 200px;
  padding: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: #097FD9;
}
.subscribe .subscribeIN {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.subscribe .subscribeIN h1 {
  color: #FFF;
  text-align: center;
  font-family: Urbanist;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 10px;
}
.subscribe .subscribeIN h3 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
}
.subscribe .subscribeIN .inputandbutton {
  width: 640px;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 14px;
  background: #FFF;
}
.subscribe .subscribeIN .inputandbutton .inputOne {
  border: none;
  width: 200px;
}
.subscribe .subscribeIN .inputandbutton .inputOne::-moz-placeholder {
  color: rgba(9, 7, 7, 0.6);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 20px;
}
.subscribe .subscribeIN .inputandbutton .inputOne::placeholder {
  color: rgba(9, 7, 7, 0.6);
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 20px;
}
.subscribe .subscribeIN .inputandbutton a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 180px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #090707;
  color: #EEE;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.footerOne {
  display: flex;
  margin: 0 200px 0 200px;
  padding: 80px 0px 100px 0px;
  justify-content: space-between;
  align-items: flex-start;
}
.footerOne article {
  display: flex;
  width: 240px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  flex-shrink: 0;
}
.footerOne article figure {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0px;
}
.footerOne article figure h3 {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footerOne article p {
  color: #FFF;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  align-self: stretch;
}
.footerOne .footerblock {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.footerOne .footerblock nav {
  display: flex;
  width: 144px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.footerOne .footerblock nav h2 {
  height: 31px;
  align-self: stretch;
  color: #FFF;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px;
}
.footerOne .footerblock nav ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  padding: 0px;
}
.footerOne .footerblock nav ul li a {
  text-decoration: none;
  color: #FFF;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.footerOne .footerblock nav .media {
  display: flex;
  flex-direction: row;
}

.footerTwo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin: 0 200px 0 200px;
}
.footerTwo figure {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footerTwo figure .left {
  color: rgba(225, 225, 225, 0.6);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.16px;
  margin: 0px;
}
.footerTwo .right {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.footerTwo .right a {
  text-decoration: none;
  color: rgba(225, 225, 225, 0.6);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */